{{ define "content" }}
<h2 class="mb-4">List of Category</h2>

<a href="/categories/new" class=" btn btn-primary mb-3"><i class="fa fa-plus"></i> New Category</a>

<div class="card mb-4">
    <div class="card-body">
        <table class="table table-hover mb-0" width="100%">
            <thead class="thead-light">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range .categories }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Status }}</td>
                    <td>
                        <a href="/categories/edit/{{ .ID }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                        <a href="/categories/delete/{{ .ID }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>

                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}