{{ define "content" }}
<h2 class="mb-4">List of User</h2>

<a href="/admin/users/new" class=" btn btn-primary mb-3"><i class="fa fa-plus"></i> New Users</a>

<div class="card mb-4">
    <div class="card-body">
        <table class="table table-bordered mb-0" id="myTable" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{ range .users }}
                <tr>
                    <td>{{ .Username }}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .Role }}</td>
                    <td>
                        <a href="/admin/users/edit/{{ .ID }}" class="btn btn-primary d-inline"><i class="fa fa-edit"></i></a>

                        <form action="/admin/users/delete/{{ .ID }}" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                        </form>

                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
